body {
    background: #adbccb;
  }
    .tabTitle{
        width: fit-content;
        height: 136px;
        font-family: Sarpanch;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 90px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: lowercase;
        color: #6d2147;
        filter: blur(3px);
        margin: auto;
    }
    .welcome{
        margin: 10px 10px 10px;
        text-align: center;
        color: #6d2147;
    }
    .explanation{
        margin: 24px 169px 30px;
        text-align: justify;
        color: #6d2147;
    }
    .tabCipher{
        margin: 33px 110px 33px;
        padding: 12px 20px 28px;
        color: #6d2147;
        background: #ecd9e2;
        border-radius: 18px;
        text-align: center;
        box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    }
    .indication1{
        font-family: SeoulHangang CB;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #6d2147;
        margin: 10px 10px
    }
    .indication2{
        font-family: SeoulHangang CB;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #6d2147;
    }
    .numInput{
      font-family: SeoulHangang CB;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: #6d2147;
    }
    .buttons{
        font-family: SeoulHangang CB;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        align-items: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 2em;
        margin-bottom: 4em;
        color: #6d2147;
    }
    .message{
        margin: 22px 116px 22px;
        color: #6d2147;
        text-align: justify;
    }
    .signature{
        margin: 22px 116px 22px;
        color: #6d2147;
        text-align: right;
    }